* {
    box-sizing: border-box;
}

h1.title {
    font-family: "Snell Roundhand";
    font-size: 60px;
    font-weight: normal;
    text-align: center;
}

.row {
    display: flex;
    width: 100%;
    align-items: stretch;
    justify-content: center;
    border: 1px solid black;
}

.story {
    padding: 0 10px;
    border-right: 1px solid black;
}

.article-title {
    font-size: 30px;
    font-weight: normal;
    font-style: italic;
    text-align: center;
}

header {
    border-bottom: 3px solid black;
}
.row {
    border-bottom: 3px solid black;
}
.quarter{
    width: 25%;
}

.half {
    width: 50%;
}

.three-fourth {
    width: 75%;
}

.topic-group{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    padding: 0;
    margin: 0;

}

.topic {
    display: flex;
    align-items: center;
    flex: 1;
}

.topic a {
    color: rgb(82, 79, 79);
    font-family: futura;
    font-weight: bold;
    text-decoration: none;
    font-size: 30px;
    padding-left: 30px;
}

.topic a:hover {
    text-decoration: underline;
}

.thumbnail {
    width: 100%;
}

.topic-politics{
    background-color: blanchedalmond;
}

.topic-technology {
    background-color: cyan;
}

.topic-local {
    background-color: darkseagreen;
}

.topic-opinion {
    background-color: rgb(125, 148, 218);
}

.topic-sports {
    background-color: rgb(163, 156, 203);
}