:root {
    --main-bg: #4fcec1;
    --main-light:  rgba(255,255,255, 90%);
}

body {
    background-color: var(--main-bg);
    color: var(--main-light);
    font-family: 'Open sans', sans-serif;
    font-size: 1.2em;
    background: var(--main-bg);
}


h1, h2, h3, h4, h5, h6 {
    font-family: 'Sansita', sans-serif;
    line-height: 1.2;
    margin: 0px 0px 10px 0px;
}

h1 {
    font-size: 36px;
}

a {
    color: #555;
    font-weight: 600;
    transition: color 1s;
    text-decoration: underline dashed;
}

a:hover{
    color: #ccc;
}

.main-container {
    max-width: 1024px;
    display: block;
    margin: auto; 
    padding: 30px 80px;
    background: rgba(0,0,0, 20%);
}
.row {
    display: flex;
    justify-content: space-evenly;
}

.col-half {
    
    border: 1px solid rgba(255,255,255, 90%);
    padding: 10px;
    margin: 5px; 
}

@media ( max-width: 600px ){
    .row {
        flex-direction: column;
    }
    .main-container {
        padding: 10px;
    }
}

ul > li {
    margin-bottom: 10px;
}